- task: katalonTask@0
  inputs:
    version: '7.7.2'
    executeArgs: '-browserType="Chrome" -retry=0 -statusDelay=15 -testSuitePath="Test Suites/TS_RegressionTest" -apikey="1a76271f-d2c0-4079-b892-98e59860ebcf"'
trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

steps:
